# Python Homework - Chelsea J
1. Series of steps to solve a problem at hand
1. Can't start with numbers or an exclamation point
1. When the code is grammatically correct but doesn't make any sense
1. Complexity is the enemy of efficiency
1. True, False, and, or, def

In [5]:
#6
print("""
      My name is Chelsea.
      My favorite food is pasta.
      My dream job is to be a data analyst.
      """)

      My name is Chelsea.
      My favorite food is pasta.
      My dream job is to be a data analyst.

In [6]:
#7
random1 = 52
random2 = "Yellow"
random3 = 33.3
random4 = True
random5 = ["dog", "cat", "tiger", "lion"]

print(len(random2))
print(random2[4])

6
o

In [10]:
#8
savvy = "Learning Data Analytics and Python is Awesome!"
savvy= "Learning Data Analytics and Python is Great!"
print(savvy[5:24])
print(savvy)

ing Data Analytics
Learning Data Analytics and Python is Great

In [12]:
#9
name = "Chelsea"
age = 23.5
length = "5'3"

miniBio = f"""
        My name is {name},
        I am {length} tall,
        I am {age} years old today.
        """

print(miniBio)

        My name is Chelsea,
        I am 5'3 tall,
        I am 23.5 years old today.

In [21]:
#10
mixedData = [11, "apple", 34.4, False, ["pink", "purple", "blue"]]
mixedData[3] = True
print(mixedData)
print(len(mixedData))

mixedData[1:4]
secondList = [mixedData[1:4], "yellow", "orange", 25]
print(secondList)

simlist = ["banana", "cherry", "pear", "lime", "lemon"]
simlist.sort(reverse=True)
print(simlist)
thirdlist = simlist.copy()
fourthlist = thirdlist + simlist

[11, 'apple', 34.4, True, ['pink', 'purple', 'blue']]
5
[['apple', 34.4, True], 'yellow', 'orange', 25]
['pear', 'lime', 'lemon', 'cherry', 'banana']

In [31]:
#11
tup1 = ["Vans", "Nike", "Reebok", "New Balance", "Adidas"]
tup2 = (tup1 * 3) 
print(tup2[13])
sorted(tup1)


import copy
tup3 = copy.copy(tup2)
print(tup3)

tup4 = (50, )
print(tup4)

tup5 = tup2 + tup3
print(tup5)

New Balance
['Vans', 'Nike', 'Reebok', 'New Balance', 'Adidas', 'Vans', 'Nike', 'Reebok', 'New Balance', 'Adidas', 'Vans', 'Nike', 'Reebok', 'New Balance', 'Adidas']
(50,)
['Vans', 'Nike', 'Reebok', 'New Balance', 'Adidas', 'Vans', 'Nike', 'Reebok', 'New Balance', 'Adidas', 'Vans', 'Nike', 'Reebok', 'New Balance', 'Adidas', 'Vans', 'Nike', 'Reebok', 'New Balance', 'Adidas', 'Vans', 'Nike', 'Reebok', 'New Balance', 'Adidas', 'Vans', 'Nike', 'Reebok', 'New Balance', 'Adidas']

In [34]:
#12
elements = ["pencil", "eraser", "pen"]
fruits = ["lime", "lemon", "strawberry"]
print(elements + fruits)

elements= ["pencil", "eraser", "pen", "Nissan"]
secondset = ["bike", "shoe", "pillow", "hat"]
thirdSet = elements + secondset

thirdSet.pop(5)
print(thirdSet)


elements.clear()
print(elements)

thirdSet.pop(0)
thirdSet.remove("pillow")
print(thirdSet)

['pencil', 'eraser', 'pen', 'lime', 'lemon', 'strawberry']
['pencil', 'eraser', 'pen', 'Nissan', 'bike', 'pillow', 'hat']
[]
['eraser', 'pen', 'Nissan', 'bike', 'hat']

In [46]:
#13
anotherlist = {
  "number": 92, 
 "city": "New York", 
 "float": 44.3, 
  "water": ["lake", "ocean", "pool"], 
 "Boolean": False
 }
print(anotherlist["number"])
anotherlist["city"] = "Chelsea"
anotherlist["color"] = "black"
anotherlist["states"] = ["Illinois", "Missouri", "Florida"]

print(anotherlist.keys())
print(anotherlist.values())

dictionary = anotherlist.copy()
dictionary.popitem()
print(dictionary)

dictionary.clear()
print(dictionary)

92
dict_keys(['number', 'city', 'float', 'water', 'Boolean', 'color', 'states'])
dict_values([92, 'Chelsea', 44.3, ['lake', 'ocean', 'pool'], False, 'black', ['Illinois', 'Missouri', 'Florida']])
{'number': 92, 'city': 'Chelsea', 'float': 44.3, 'water': ['lake', 'ocean', 'pool'], 'Boolean': False, 'color': 'black'}
{}