# 7.1 HW Questions
Question 1

#
1. SELECT ModelYear, Make, Model

    FROM EVRegistry

Question 2

1. SELECT  Distinct ElectricVehicleType
    
    FROM EVRegistry

Question 3

1. SELECT *

     FROM EVRegistry 
    WHERE ElectricVehicleType = "Battery Electric Vehicle (BEV)";

Question 4
1. SELECT Make, Model
    
    FROM EVRegistry
    
    WHERE BaseMSRP > 20000 AND BaseMSRP < 35000;

# 7.2 HW 
Question 1
1. SELECT *
    
    FROM EVRegistry
    
    WHERE City IS NULL; 

Question 2

1. SELECT Make, Model, ElectricVehicleType

    FROM EVRegistry
    
    WHERE VIN LIKE "%3E1EA1J";

Question 3
1. SELECT ModelYear, Make, Model, ElectricVehicleType, ElectricRange

    FROM EVRegistry
    
    WHERE Make = "TESLA" OR Make = "Chevrolet"
    
    ORDER BY Make, ModelYear DESC;

Question 4
1. SELECT stationId, Count(*)

    FROM EVCharging
    
    GROUP BY stationId
    
    ORDER BY COUNT(*) DESC
    
    LIMIT 5;

Question 5

1. SELECT userId, MIN(chargeTimeHrs) as minTime, MAX(chargeTimeHrs) as maxTime

    FROM EVCharging
    
    WHERE chargeTimeHrs > .5
    
    GROUP by userId
    
    ORDER by 2,3;

# 7.3 HW 

Question 1 

1. SELECT weekday, round(avg(chargeTimeHrs),2)

    FROM EVCharging
    
    GROUP BY weekday
    
    ORDER by 2 DESC;

Question 2

1. SELECT userID, ROUND(SUM(kwhTotal), 2) as totalPower

    FROM EVCharging
    
    Group By userId
    
    ORDER by 2 DESC 
    
    LIMIT 15;

Question 3

1. SELECT fc.facilityID, df.FacilityKey, df.typeFacility as numStation

    FROM factcharge fc
    
    INNER JOIN dimFacility df ON fc.facilityID = df.FacilityKey
    
    GROUP BY numStation
    
    ORDER BY 3 DESC;

Question 4

1. Foreign keys point to a primary key of another table and will link two rows from different tables. And primary keys are used to identify and index each row within a table.

Question 5

1. SELECT userId, MIN(chargeTimeHrs) as minTime, MAX(chargeTimeHrs) as maxTime

    FROM EVCharging
    
    GROUP BY userId
    
    HAVING minTime > 1
    
    ORDER by 2,3